.contain-all {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#title {
    height: 520px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./images/usna_arial.jpeg);
    background-size: 100% auto;
}

#title h1 {
    font-size: 200px;
    color: #fff;
    margin-top: -30px;
}

#title h3 {
    color: #FBC42B;
    margin-top: -100px;
    background-color: #021D3B;
}

.contain {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #021D3B;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.box:hover {
    -webkit-transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
    cursor: pointer;
}

.box h2 {
    text-decoration: none;
    border-radius: 5px 5px;
    color: #FBC42B;
}

.box a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box h2:hover {
    box-shadow: 2px 2px;
    cursor: pointer;
}

.box h2:active {
    background-color: #011122;
}

.box h2 a {
    text-decoration: none;
    color: #FBC42B;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.info h3 {
    margin-bottom: -10px;
}

.info ul {
    list-style: none;
}

.info ul li {
    margin-left: -30px;
}

.info span {
    color: #FBC42B;
}

.lst {
    margin-bottom: -10px;
}

footer {
    height: 75px;
    margin-top: 25px;
}

