{% extends "page.html" %}

{% block page %}My Application Journey{% endblock %}

{% block content %}
  <h1>My Application Journey</h1>
  <h3>The Anfractuous Adventure Towards Admission (Hopefully)</h3>

  <section id="application">
    <h3 class="sec">USNA Application</h3>
    <a href="stmt">Writing My Personal Statement</a>
    <a href="bgo">Navigating my BGO Interview</a>
    <a href="test_prep">Standardized Testing: My Preparation</a>
    <a href="sat">Taking the SAT</a>
    <a href="act">Taking the ACT</a>
    <a href="cfa">Attacking the CFA</a>
    <a href="fav_profs">My Favorite Professors</a>
    <a href="dodmerb">Wading Through the DoDMERB</a>
  </section>

  <section id="noms">
    <h3 class="sec">Congressional Nomination</h3>
    <a href="connections">Making Connections</a>
    <a href="resume">Building My Resume</a>
    <a href="lois">Crafting My Letters of Intent</a>
    <a href="lors">Obtaining Letters of Recommendation</a>
    <a href="interviews">Surviving the Interviews</a>
  </section>
{% endblock %}
