{% extends "blog_template.html" %}

{% block page %}Evolving Career Aspirations{% endblock %}

{% block content %}
  <h1>Evolving Career Aspirations</h1>
  <h4>December 16th, 2024</h4>
  <div class="empty"></div>

  <p>
    I never imagined myself to become a domesticated man. I was born wild.
    Growing up in the country, my siblings and I were constantly exploring the
    world. We marched through forests and dove into rivers, playing soldier games
    and building weapons and forts from the sticks we encountered along the
    journey. From a young age, I knew I was created for war.
  </p>
  <p>
    Elementary school (Kindergarten, specifically) was the first place I recall
    articulating my desire to join the Navy. As any reasonable 6-year-old would,
    I dreamed of becoming a Navy SEAL. I kept this dream on the forefront of my
    mind as my father taught me how to shoot, how to fight, and how to navigate.
    Soon, I knew this passion would become a reality; one which would bless the
    whole world and keep the American people safe. 
  </p>
  <p>
    As I aged through elementary school and reached the fourth grade, I realized
    another passion building inside of me. I had always loved to explore the
    inner workings of mechanical and electronic devices. I would take toys apart
    and build new ones, which was a favored hobby of mine throughout the years.
    So now I found my heart longing to become an engineer; to lay hold of the
    tasks I am truly good at, constructing and deconstructing material
    contraptions. 
  </p>
  <p>
    As I neared the end of elementary school, I fell in love with computers. I
    started playing around with the source code of websites on my school laptop,
    temporarily altering text elements with the web inspector, and a creative
    pattern began to emerge. I discovered the endless ways in which I was able
    to manipulate the outputs of my school computer, simply by changing the
    inputs. 
  </p>
  <p>
    I learned HTML and Python in junior high school, aspiring to start my own
    penetration testing company. Throughout high school, I learned bash and
    started working with linux operating systems (specifically debian-based). I
    consumed content on hacking through books, YouTube videos, and online
    courses, working steadily towards my goal. And in my years at Grace College,
    I mastered HTML, CSS, JavaScript, Python3, and SQL (MySQL, specifically),
    built a handful of web applications, using both flask and npm, and gained
    experience working with C++ (Arduino projects), Swift, and Kotlin (for my
    mobile apps). 
  </p>
  <p>
    Throughout these years, I steadily migrated towards the field of
    cybersecurity, solving CTFs, taking courses, competing in hackathons, and
    experiencing the power of industry-standard tools, such as Burp Suite,
    Wireshark, and Metasploit. 
  </p>
  <p>
    In the end, each of these stages is still very much a part of my career
    aspirations. I still want to be a Navy SEAL, I still want to do engineering
    and web development, I still want to own a few software businesses, and I
    still want to study and expand the cybersecurity industry. I plan to serve
    my country in all of these ways. 
  </p>

  <p>Dirk Rumfelt</p>
{% endblock %}
