{% extends "page.html" %}

{% block page %}My Dreams & Goals{% endblock %}

{% block content %}
  <h1>My Dreams & Goals</h1>
  <h3>The Personal History behind Influences & Events in My Life</h3>

  <section id="history">
    <h3 class="sec">Personal History</h3>
    <a href="interests">My Interest in the Navy</a>
    <a href="aspirations">Evolving Career Aspirations</a>
    <a href="plans">My Plans for the Naval Academy</a>
  </section>

  <section id="influences">
    <h3 class="sec">Key Influences to the Navy</h3>
    <a href="father">My Father: Special Operations Instructor</a>
    <a href="ggpa">Great-Grandpa: Medal of Honor Recipient</a>
    <a href="sarlo">Mr. Sarlo: Summer Seminar Squad Leader</a>
  </section>

  <section id="events">
    <h3 class="sec">Key Events Leading to the Navy</h3>
    <a href="kindergarten">Kindergarten Nomination</a>
    <a href="seals">Encouragement from a SEAL Team</a>
    <a href="sumsem">The USNA Summer Seminar</a>
  </section>
{% endblock %}
