<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Go Navy!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <header>
    <!--
    <div id="logo">
      <a href="#">
        <img id="head_anchor" src="../static/images/anchor.png" alt="Navy Anchor">
      </a>
    </div>
    -->
    <ul>
      <li><a href="#">About Me</a></li>
    </ul>
  </header>

  <div class="contain-all">
    <div id="title">
      <h1>Go Navy!</h1>
      <h3>My Journey at the United States Naval Academy and Beyond...</h3>
    </div>

    <div class="contain">
      <div class="box" id="info">
        <a href="history">
          <h2>My Dreams & Goals</h2>
          <div class="info">
            <h3>Personal History:</h3>
            <ul>
              <li>My Interest in the Navy</li>
              <li>Evolving Career Aspirations</li>
              <li>My Plans for the Naval Academy</li>
            </ul>
          </div>
          <div class="info">
            <h3>Key Influences to the Navy:</h3>
            <ul>
              <li>My Father: Special Operations Instructor</li>
              <li>Great-Grandpa: Medal of Honor Recipient</li>
              <li>Mr. Sarlo: Summer Seminar Squad Leader</li>
            </ul>
          </div>
          <div class="info">
            <h3>Key Events Leading to the Navy:</h3>
            <ul>
              <li>Kindergarten Nomination</li>
              <li>Encouragement from a SEAL Team</li>
              <li>The USNA Summer Seminar</li>
            </ul>
          </div>
        </a>
      </div>

      <div class="box" id="stats">
        <a href="student">
          <h2>Summer Seminar Adventure</h2>
          <!-- Will become (Lord willing...): <h2>Life as a Midshipman</h2>  -->
          <div class="info">
            <h3>Meaningful Mentors:</h3>
            <ul>
              <li>Mr. Sarlo: My Squad Leader</li>
              <li>Mr. Kehr: My Platoon Commander</li>
              <li>Mr. Dejohn: My Company Commander</li>
            </ul>
          </div>
          <div class="info">
            <h3>My Best Memories:</h3>
            <ul>
              <li>Morning PEP</li>
              <li>Sea Trials</li>
              <li>Echo Company Socks</li>
              <li>The Navy Blue & Gold</li>
            </ul>
          </div>
          <div class="info">
            <h3>Life-Changing Moments:</h3>
            <ul>
              <li>Opening Brief by Midn 1/C Beronio</li>
              <li>Visit to Memorial Hall</li>
            </ul>
          </div>
        </a>
      </div>

      <div class="box" id="goals">
        <a href="career">
          <h2>My Application Journey</h2>
          <!-- Will become (Lord willing...): <h2>My Career in the Navy</h2>  -->
          <div class="info">
            <h3>USNA Application:</h3>
            <ul>
              <li>Writing My Personal Statement</li>
              <li>Navigating My BGO Interview</li>
              <li>Standardized Testing: My Preparation</li>
              <li>Taking the SAT</li>
              <li>Taking the ACT</li>
              <li>Attacking the CFA</li>
              <li>My Favorite Professors</li>
              <li>Wading Through the DoDMERB</li>
            </ul>
          </div>
          <div class="info">
            <h3>Congressional Nomination:</h3>
            <ul>
              <li>Making Connections</li>
              <li>Building My Resume</li>
              <li>Crafting My Letters of Intent</li>
              <li>Obtaining Letters of Recommendation</li>
            </ul>
          </div>
        </a>
      </div>
    </div>

    <footer>
      <div id="contact"></div>
    </footer>
  </div>
</body>
</html>
