{% extends "blog_template.html" %}

{% block page %}My Interest in the Navy{% endblock %}

{% block style %}interests{% endblock %}

{% block content %}
  <h1>My Interest in the Navy</h1>
  <h4>November 6th, 2024</h4>
  <div class="empty"></div>
  <p>My interest in the Navy is an amorphous element, which is constantly
  being shifted and shaped. I'm honestly not certain I could grasp this belief
  myself, though I have known it nearly my whole life. Even as a child I dreamed
  of serving our country in the military. I was raised to respect and revere the
  incredible sacrifice that our selfless men and women are still making to this
  day, in order that we may enjoy lives of comfort and freedom.</p>

  <p>Before I had reached Kindergarten, this dream was already implanted deeply
  within my soul. A Navy SEAL is what I wanted to be when I grew up, as I
  proudly exclaimed to my parents and teachers over the coming elementary school
  years. I was determined to lay my life down in the service of the American
  people, just as I had watched my heroes do time and time again. It was
  admittedly a bold aspiration, yet I do in no way hold regret for the gravity
  of my vision. I knew my life would be poured out before the greatest nation on
  earth, in reverent rembrance of the sacrifices which had preceded mine. All
  along it was a deepest desire of mine to both live and die with honor.</p>

  <p>I have always loved and supported the American military, whether airmen,
  soldiers, or sailors. Yet towards the Navy particularly was my heart greatly
  inclined. Growing up with a pond in my backyard was a blessing in that I
  learned to love the water. From a young age, my parents had me taking swimming
  lessons, which brought forth a certain confidence. I would swim in our pond
  with my siblings and friends, whether the water was freezing or boiling. This
  steadfast preference towards aqua-based environments led me readily in the
  direction of the United States Navy.</p>

  <p>Yet as I matured, my swimming decreased continually, and I began to apply
  myself in other areas. Shooting sports were a matter of both pleasure and
  rigor for me. My father had taught me to shoot younger than 6 years of age,
  and I was well acquainted with the principles of firearm safety, as well as the
  fundamentals of accurately operating rifles. I learned of breathing,
  front-sight focus, stability, and muzzle control. This was of great
  importance, as I quickly learned by muzzling my father once or twice. Each
  time I was disciplined, such that I soon realized the severity of my fault.</p>
 
  <p>I recall one time as a boy that my father took me out to the shooting range. No
  sooner had we unloaded our gear that I accidentally pointed my .22 in my
  father's direction. I watched the anger descend upon his face as he tore the
  gun from my hand. Although I don't remember what exactly he said in that
  moment, we packed up our equipment and left the range, without having shot a
  single bullet. Later he explained to me the peril that could befall me and
  others in the future, if this lesson were not to be learned now. I understood.
  And with that, I determined to maintain the foundation of gun safety my father
  had taught me. Even toy guns were not to be pointed upon anything I did not
  intend to destroy, and I retained the habit of keeping my finger off the
  trigger until I was ready to shoot.</p>

  <p>As my skillset broadened, from swimming to shooting to self defense, I
  found myself acquiring the very proficies requisite to excellence in the
  military, and particularly in the Navy. For as long as I can remember, my
  father was teaching me self defense. Whether it was escaping from holds or
  striking an attacker, my father ensured that I had a firm basis upon which to protect
  myself and my family. Soon, I began working alongside my father in training
  police departments, SWAT teams, church security teams, and other responsible
  private citizens. I learned and taught concepts of tactical shooting, ground
  fighting, and behavioral profiling, among many others. This provided me a
  unique internal perspective on the lives and experiences of many brave men and
  women.</p>

  <p>Towards the end of elementary school I gained a fascination for computers.
  I began exploring the capabilities of my devices. Throughout junior high
  school and high school, I learned 7 programming languages, and oriented my
  bailiwick towards that of cybersecurity. In my final years of high school and
  in my years as a student at Grace College, I began studying penetration
  testing, and compromising systems (ethically, of course). I did a fair amount
  of hacking through CTF (Capture The Flag) challenges, hackathons, and
  exploiting local machines (VMs or physical devices I purchased just to
  practice on).</p>

  <p>In the end, my interest in the Navy is still changing. But I feel as though
  I can make a true difference in our nation's digital security, and as such I
  seek an opportunity to serve my country in this way. Whether I am to be a Navy
  SEAl, a Cyber Warfare Technician, or hold some other position in the Navy, I
  am well prepared for this anfractuous journey. What remains without regard to
  position is my will to lead.</p>

  <p>Dirk Rumfelt</p>
{% endblock %}
