{% extends "blog_template.html" %}

{% block page %}Interests{% endblock %}

{% block style %}interests{% endblock %}

{% block content %}
  <h1>My Interests in the Navy</h1>
  <div class="empty"></div>
  <p>Incididunt anim consectetur irure amet nisi incididunt id ad deserunt. Voluptate tempor minim anim qui sit commodo do duis aliqua minim. Irure exercitation nulla consectetur non eu elit incididunt sunt incididunt velit cillum nulla duis reprehenderit incididunt. Ad excepteur elit sint Lorem elit veniam.</p>
  <p>Incididunt anim consectetur irure amet nisi incididunt id ad deserunt. Voluptate tempor minim anim qui sit commodo do duis aliqua minim. Irure exercitation nulla consectetur non eu elit incididunt sunt incididunt velit cillum nulla duis reprehenderit incididunt. Ad excepteur elit sint Lorem elit veniam.</p>
  <p>Incididunt anim consectetur irure amet nisi incididunt id ad deserunt. Voluptate tempor minim anim qui sit commodo do duis aliqua minim. Irure exercitation nulla consectetur non eu elit incididunt sunt incididunt velit cillum nulla duis reprehenderit incididunt. Ad excepteur elit sint Lorem elit veniam.</p>
  <p>Incididunt anim consectetur irure amet nisi incididunt id ad deserunt. Voluptate tempor minim anim qui sit commodo do duis aliqua minim. Irure exercitation nulla consectetur non eu elit incididunt sunt incididunt velit cillum nulla duis reprehenderit incididunt. Ad excepteur elit sint Lorem elit veniam.</p>
  <p>Incididunt anim consectetur irure amet nisi incididunt id ad deserunt. Voluptate tempor minim anim qui sit commodo do duis aliqua minim. Irure exercitation nulla consectetur non eu elit incididunt sunt incididunt velit cillum nulla duis reprehenderit incididunt. Ad excepteur elit sint Lorem elit veniam.</p>
  <p>Incididunt anim consectetur irure amet nisi incididunt id ad deserunt. Voluptate tempor minim anim qui sit commodo do duis aliqua minim. Irure exercitation nulla consectetur non eu elit incididunt sunt incididunt velit cillum nulla duis reprehenderit incididunt. Ad excepteur elit sint Lorem elit veniam.</p>
  <p>Incididunt anim consectetur irure amet nisi incididunt id ad deserunt. Voluptate tempor minim anim qui sit commodo do duis aliqua minim. Irure exercitation nulla consectetur non eu elit incididunt sunt incididunt velit cillum nulla duis reprehenderit incididunt. Ad excepteur elit sint Lorem elit veniam.</p>
  <p>Incididunt anim consectetur irure amet nisi incididunt id ad deserunt. Voluptate tempor minim anim qui sit commodo do duis aliqua minim. Irure exercitation nulla consectetur non eu elit incididunt sunt incididunt velit cillum nulla duis reprehenderit incididunt. Ad excepteur elit sint Lorem elit veniam.</p>
  <p>Incididunt anim consectetur irure amet nisi incididunt id ad deserunt. Voluptate tempor minim anim qui sit commodo do duis aliqua minim. Irure exercitation nulla consectetur non eu elit incididunt sunt incididunt velit cillum nulla duis reprehenderit incididunt. Ad excepteur elit sint Lorem elit veniam.</p>
  <p>Incididunt anim consectetur irure amet nisi incididunt id ad deserunt. Voluptate tempor minim anim qui sit commodo do duis aliqua minim. Irure exercitation nulla consectetur non eu elit incididunt sunt incididunt velit cillum nulla duis reprehenderit incididunt. Ad excepteur elit sint Lorem elit veniam.</p>
{% endblock %}
