{% extends "blog_template.html" %}

{% block page %}Plans for USNA{% endblock %}

{% block content %}
  <h1>My Plans for the Naval Academy</h1>
  <h4>January 15th, 2025</h4>
  <div class="empty"></div>

  <p>
    In regards to my plans for the United States Naval Academy, I hold many
    dreams of excitement to come. Though I'm certain these ideas are miniscule
    in the eyes of God, they are grand in my own, and I eagerly share them with
    you today. I will cover my intended majors, extracurriculars, and planned 
    career steps thus far. 
  </p>
  <p>
    As many of you are already aware, I maintain a particular inclination
    towards cybersecurity, and as such I plan to double major at USNA in both
    Computer Science and Cyber Operations. Fundamentally, this will forge the
    pathway to gaining high-paying positions and provide me with an aire of
    transferability throughout the tech-domain. Having such degrees on my resume
    will likely bring access to any career of my choice (even after the
    military). 
  </p>
  <p>
    For extracurricular activities, I am pleased to present a high-level
    overview of the undertakings I am preparing. 
  </p>
  <p>
    Wrestling was a difficult consideration of mine, and to be entirely honest,
    I'm still not certain of my decision... Tentatively I have decided not to
    wrestle at USNA. I find that it's not truly something that makes me happy or
    brings me excitement and fulfillment. As such I deem it unworthy of my time
    and have abandoned its cruel hand to those who love it with greater ferocity
    than I do. 
  </p>
  <p>
    As for other extracurricular activities, I plan to lift every day, as
    lifting brings me joy and fulfillment. I also plan to partake in jiu jitsu
    at USNA. Maybe even boxing or judo on occasion. I do so love these practical
    martial arts. They make me more dangerous and further equipped to defend my
    family and my country. As such they are highly significant in my eyes and
    worthy of pursuit. 
  </p>
  <p>
    And I hold yet one final desire for the United States Naval Academy: to
    create my own club. Yes, this will be quite a challenge. I searched for
    hacking clubs at the academy and found none, both to my disappointment and
    to my pleasure. Lord willing, I will create such a club, where anyone can go
    to learn more about penetration testing, digital security, and cyber
    analysis. We will discuss the latest exploits, craft our own, hold hacking
    competitions (CTFs, Revd vs. Blue, Hackathons, etc.), and even do some bug
    bounty together. Cybersecurity made accessible and fun. 
  </p>
  <p>
    In the end, these plans rest in the hands of God and are subject to change.
    But as of now, these are my desired undertakings for my time at the United
    States Naval Academy. 
  </p>

  <p>Dirk Rumfelt</p>
{% endblock %}
